{% extends "base.html" %} {% block content %}
<div id="profile" class="center">
  <img src="{{ config.extra.author_picture }}" alt="{{config.author}} picture" />
  <h1>{{ page.title }}</h1>
  <h2>{{ page.description }}</h2>
  <span>⚲ {{ page.extra.location }}</span>
</div>
<div id="profile-icons">
  {% for link in page.extra.items %}
  <a href="{{ link.url }}" rel="me">{{ icons::icon(name=link.name) }}</a>
  {% endfor %}
</div>
<div id="links-container">
  {% for link in page.extra.links %}
  <div>
    <a href="{{ link.url }}">
      {{ icons::icon(name=link.name) }}
      <p>{{ link.name }}</p>
    </a>
  </div>
  {% endfor %}
</div>
{% endblock content %}
